.container {
  padding: 0 2rem;
  position: relative;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}




.products {
  display: grid;
  width: 90%;
  grid-template-columns: 20% auto;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.all {
  font-size: 1rem;
  width: 10rem;
  padding: 0.8em 2em;
  background-color: #c9c9c9;
  border: 2px solid black;
  border-radius: 1em;
  color: black;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px black;
}

.menu > li:hover {
  color: blue;
  cursor: pointer;
  transform: translate(5px, -5px);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  height: 25rem;
  overflow-y: scroll;
  /* gap: 2rem; */
  justify-content: space-between;
}

.product {
  width: 12rem;
  height: 8rem;
  background-color: #ecf7ee;
  position: relative;
  padding: 1rem;
  display: flex;
  border-radius: 1rem
  
}



.left-s {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  display: flex;
 flex-direction: column;
}



.img-p{
  /* transform: rotate(-20deg); */
  position: absolute;
  right: 28%;
  width: 45%;
  height: 65%;
  bottom: 5%;

}



/* .name > :nth-child(1) {
  font-size: 1rem;
  font-weight: 600;
} */

.name > :nth-child(2) {
  font-size: 0.7rem;
}

.left-s > :nth-child(2) {
  font-weight: bold;
  font-size: 1rem;
}



/* making responsive */

@media(max-width:600px){

  .all{
  font-size: 0.9rem;
  width: 7rem;
  padding: 0.5em 1em;
    
  }

  .products{
    width: 90%;
    grid-template-columns: 50% auto;
  }

  .product{
    left: 5rem;
  }

  .container{
    padding: 0 0rem;
    position: relative;
    /* gap: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 8px; */
    

  }
  
}
