.search-banner {
   margin-top: 100px;
   max-width: 1350px;
   height: 550px;
   border-radius: 30px;
   background-color: #ecf7ee;
   margin: 0px auto;
   position: relative;
   overflow: hidden;
   background-image: url(../../../public/bg.png);
   background-repeat: no-repeat;
   background-size: 1000px;
   background-position: bottom right;
   padding: 20px;
   display: flex;
   align-items: center;
   /* margin-bottom: 60px; */
 }
 .bg-1 {
   position: absolute;
   left: -50px;
   top: -150px;
   width: 300px;
   height: 300px;
   object-fit: contain;
   object-position: center;
 }
 .bg {
   position: absolute;
   left: -50px;
   bottom: -150px;
   width: 300px;
   height: 350px;
   object-fit: contain;
   object-position: center;
 }
 .bg-2 {
   position: absolute;
   left: 60%;
   transform: translateX(-60%);
   top: -5px;
   width: 150px;
   height: 150px;
   object-position: center;
   object-fit: contain;
 }
 .search-banner-text {
   display: flex;
   flex-direction: column;
   width: 500px;
   margin-left: 70px;
   position: relative;
 }
 .search-banner-text h1 {
   font-size: 4rem;
   line-height: 55px;
   color: #202020;
   
 }
 .search-banner-text strong {
   color: #4eb060;
   font-size: 1.4rem;
   margin-top: 4px;
 }
 .search-box {
   background-color: #ffffff;
   height: 50px;
   display: flex;
   align-items: center;
   margin-top: 25px;
   padding: 0px 5px 0px 20px;
   border-radius: 30px;
 }
 .search-box i {
   font-size: 1.3rem;
   color: #3b3b3b;
   margin: 0px 10px;
 }
 .search-box .search-input {
   height: 40px;
   border: none;
   width: 100%;
   padding: 0px 10px;
   outline: none;
 }
 .search-box .search-btn {
   width: 220px;
   height: 40px;
   border-radius: 30px;
   background-color: #4eb060;
   border: none;
   color: #ffffff;
   outline: none;
   cursor: pointer;
   transition: all ease 0.3s;
 }
 .search-box .search-btn:hover {
   background-color: #5ccf71;
   transition: all ease 0.3s;
 }
 /*==category================================*/
 .category,
 .popular-product,
 .popular-bundle-pack,
 .partner {
   display: flex;
   flex-direction: column;
   max-width: 1000px;
   margin: 50px auto;
 }
 .category-heading,
 .product-heading,
 .partner-heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .category-heading h2,
 .product-heading h3,
 .partner-heading h3 {
   font-size: 1.56rem;
   font-weight: 700;
   color: #202020;
   letter-spacing: 0.5px;
 }
 .category-heading span,
 .product-heading span {
   color: #a7a7a7;
   font-weight: 400;
   letter-spacing: 1px;
 }
 .category-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 40px;
 }
 .category-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #fafafa;
   border-radius: 10px;
   min-height: 130px;
   width: 120px;
   border: 1px solid rgba(0, 0, 0, 0.03);
 }
 .category-box img {
   height: 35px;
   width: 50px;
   object-fit: contain;
   object-position: center;
   transition: all ease 0.1s;
 }
 .category-box span {
   color: #393939;
   font-size: 0.8rem;
   margin-top: 20px;
   letter-spacing: 0.3px;
   font-weight: 600;
 }
 .category-box:hover img {
   transform: scale(1.1);
   transition: all ease 0.1s;
 }
 /*==popular-product========================*/
 #popular-product {
   margin: 80px auto;
 }
 .product-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 30px;
   align-items: center;
   margin: 40px 0px;
 }
 .product-box img {
   width: 90%;
   height: 180px;
   object-fit: contain;
   object-position: center;
   margin: auto;
 }
 .product-box {
   width: 100%;
   border: 1px solid #eeeeee;
   border-radius: 20px;
   background-color: #ffffff;
   padding: 20px;
   display: flex;
   flex-direction: column;
   position: relative;
 }
 .product-box strong {
   color: #202020;
   font-size: 1.1rem;
   letter-spacing: 1px;
   font-weight: 600;
   margin-top: 10px;
 }
 .product-box .quantity {
   color: #949494;
   font-size: 0.8rem;
   font-weight: 500;
   letter-spacing: 1px;
 }
 .product-box .price {
   margin-top: 10px;
   font-weight: 600;
   font-size: 1.4rem;
   color: #393939;
 }
 .product-box .cart-btn {
   width: 100%;
   height: 40px;
   background-color: #ecf7ee;
   color: #4eb060;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   transition: all ease 0.3s;
 }
 .product-box .cart-btn i {
   margin-right: 10px;
 }
 .product-box .cart-btn:hover {
   background-color: #4eb060;
   color: #ffffff;
   transition: all ease 0.3s;
 }
 .product-box .like-btn {
   position: absolute;
   right: 30px;
   top: 20px;
   color: #c9c9c9;
   font-size: 1.3rem;
 }
 
 /* making responsive  */
 
 @media (max-width: 1280px) {
   .search-banner {
     width: 1150px;
   }
 }
 @media (max-width: 1200px) {
   .search-banner {
     width: 90%;
     height: 500px;
   }
 }
 
 @media (max-width: 1050px) {
   .bg-1 {
     width: 150px;
     height: 150px;
     top: -20px;
   }
   .search-banner {
     background-size: 700px;
   }
 }
 
 @media (max-width: 965px) {
   .search-banner {
     height: 400px;
     background-size: 500px;
   }
   .bg-2 {
     width: 100px;
     height: 100px;
     top: -50px;
   }
 }
 
 @media (max-width: 750px) {
   .search-banner {
     height: 300px;
   }
   .search-banner-text {
     margin-left: 20px;
   }
   .search-banner-text h1 {
     font-size: 2rem;
     line-height: 30px;
   }
 }
 
 @media (max-width: 600px) {
   .search-banner {
     height: 200px;
     background-size: 400px;
   }
 
   .bg-1 {
     top: -70px;
   }
   .bg {
     height: 13rem;
     
     
     
   }
   .search-banner-text {
     margin-left: 0px;
     max-width: 100%;
   }
   .search-banner-text h1 {
     font-size: 2rem;
   }
   .search-box {
     width: 100%;
     max-width: 100%;
     height: 40px;
     padding-left: 10px;
   }
   .search-box i {
     font-size: 1rem;
   }
   .search-box .search-btn {
     height: 30px;
   }
 }
 