.search-banner {
   /* margin-top: 100px;
   max-width: 1350px;
   height: 550px;
   border-radius: 30px;
   background-color: #ecf7ee;
   margin: 0px auto;
   position: relative;
   overflow: hidden; */
   background-image: url(../../../public/bg.png);
   background-repeat: no-repeat;
   background-size: 1000px;
   background-position: bottom right;
   padding: 20px;
   display: flex;
   align-items: center;
   /* margin-bottom: 60px; */
 }
 .bg-1 {
   position: absolute;
   left: -50px;
   top: -150px;
   width: 300px;
   height: 300px;
   object-fit: contain;
   object-position: center;
 }
 .bg {
   position: absolute;
   left: -50px;
   bottom: -150px;
   width: 300px;
   height: 350px;
   object-fit: contain;
   object-position: center;
 }
 .bg-2 {
   position: absolute;
   left: 60%;
   transform: translateX(-60%);
   top: -5px;
   width: 150px;
   height: 150px;
   object-position: center;
   object-fit: contain;
 }
 .search-banner-text {
   display: flex;
   
   width: 500px;
   margin-left: 70px;
   position: absolute;
   top: 40%;
 }
 .search-banner-text h1 {
   font-size: 4rem;
   line-height: 55px;
   color: #202020;
   
 }
 .search-banner-text strong {
   color: #4eb060;
   font-size: 1rem;
   margin-top: 4px;
 }
 /* making responsive  */
 
 @media (max-width: 1280px) {
   .search-banner {
     width: 1150px;
   }
 }
 @media (max-width: 1200px) {
   .search-banner {
     width: 90%;
     height: 500px;
   }
 }
 
 @media (max-width: 1050px) {
   .bg-1 {
     width: 150px;
     height: 150px;
     top: -20px;
   }
   .search-banner {
     background-size: 700px;
   }
 }
 
 @media (max-width: 965px) {
   .search-banner {
     height: 400px;
     background-size: 500px;
   }
   .bg-2 {
     width: 100px;
     height: 100px;
     top: -50px;
   }
 }
 
 @media (max-width: 750px) {
   .search-banner {
     height: 300px;
   }
   .search-banner-text {
     margin-left: 20px;
   }
   .search-banner-text h1 {
     font-size: 2rem;
     line-height: 30px;
   }
 }
 
 @media (max-width: 600px) {
   .search-banner {
     height: 200px;
     background-size: 400px;
   }
 
   .bg-1 {
     top: -70px;
   }
   .bg {
     bottom: -10rem;
     
     
     
   }
    .search-banner-text {
     margin-left: 50px;
     display: flex;
   top: 35%;
     width: 250px;
   }
 
 }
 